@model Advocacia.Models.Mapping.Pessoas

    <!-- BANNER -->
    <div id="oc-fullslider" class="banner">
        <div class="owl-carousel owl-theme full-screen">
            <div class="item">
                <img src="~/Content/home01.png" alt="Slider">
                <div class="overlay-bg"></div>
                <div class="container d-flex align-items-center">
                    <div class="wrap-caption">
                        <h1 class="caption-heading">Leonardo Amaral<br>Advocacia</h1>
                        <p>Aqui contamos com Advogados Especializados para que cada caso seja cuidado de maneira singular e dedicada. Seu problema virando solução!</p>
                        <a href="/Home/Contact" class="btn btn-primary">SAIBA MAIS</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/segFoto.png" alt="Slider">
                <div class="overlay-bg"></div>
                <div class="container d-flex align-items-center">
                    <div class="wrap-caption">
                        <h1 class="caption-heading">Atuamos em Direito Digital<br>e Direito Empresarial</h1>
                        <p>Nosso objetivo é minimizar o seu desgaste físico e emocional atuando com a desburocratização dos processos.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-nav owl-nav"></div>
    </div>
    <!-- CTA -->
    <div class="section">
        <div class="content-wrap py-0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="cta-overlap clearfix">
                            <div class="body-text mb-3">
                                <h3 class="my-1 text-white">O advogado que você quer ao seu lado</h3>
                                <p class="uk18 mb-0 text-primary">Cada caso é muito importante para nós e sempre cuidamos deles com seriedade.</p>
                            </div>
                            <div class="body-action">
                                <a href="https://api.whatsapp.com/send/?phone=5517996170582&text=Eu+preciso+de+ajuda,+pode+me+ajudar?&app_absent=0" class="btn btn-primary">CONSULTA GRATUITA</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- OUR PROMISE? -->
    <div class="section">
        <div class="content-wrap pb-0">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <img src="~/Content/images/LeoConsultaGratuita.png" alt="" class="img-fluid img-border img-fluid-promessa ">
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <h2 class="section-heading mt-3">
                            Nossa promessa?
                        </h2>
                        <p class="subheading mb-4">"sempre cuidamos dos clientes com seriedade"</p>

                        <p>Sempre buscando uma maneira de atingir novos horizontes e objetivos, mas nunca deixando a lealdade, a transparência e dignidade de lado, dessa forma tratamos nossos clientes e colaboradores, buscando a melhor solução para os desafios que nós forem impostos.</p>
                        <blockquote class="quote">
                            <p class="uk18">Todos os dias a vida nos presenteia com inúmeras possibilidades. Busque sempre o caminho do amor, da paz, da alegria e do trabalho honesto, que você encontrará sucesso e gratidão.</p>
                            <footer class="blockquote-footer">Leonardo Amaral<cite title="Source Title"></cite></footer>
                        </blockquote>
                        <div class="spacer-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FUN FACT -->
    <div class="section bgi-cover-center" data-background="images/static.jpg">
        <div class="content-wrap">
            <div class="container">

                <div class="row">

                    <!-- Item 1 -->
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="rs-icon-funfact">
                            <div class="icon">
                                <i class="fa fa-balance-scale"></i>
                            </div>
                            <div class="body-content">
                                <h2 style="color:#223555;">50</h2>
                                <p class="uk18">Casos em processos</p>
                            </div>
                        </div>
                    </div>

                    <!-- Item 2 -->
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="rs-icon-funfact">
                            <div class="icon">
                                <i class="fa fa-gavel"></i>
                            </div>
                            <div class="body-content">
                                <h2 style="color:#223555;">312</h2>
                                <p class="uk18">Casos encerrados</p>
                            </div>
                        </div>
                    </div>

                    <!-- Item 3 -->
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="rs-icon-funfact">
                            <div class="icon">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="body-content">
                                <h2 style="color:#223555;">1256</h2>
                                <p class="uk18">Clientes confiáveis</p>
                            </div>
                        </div>
                    </div>

                    <!-- Item 4 -->
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="rs-icon-funfact">
                            <div class="icon">
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="body-content">
                                <h2 style="color:#223555;">1</h2>
                                <p class="uk18">Equipe de especialistas</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- WHY CHOOSE -->
    <div class="section">
        <div class="content-wrap">
            <div class="container">

                <div class="row">

                    <div class="col-sm-12 col-md-12">
                        <h2 class="section-heading text-center mb-4">
                            Áreas de Prática Jurídica
                        </h2>
                        <p class="subheading text-center mb-5">Cada caso é muito importante para nós e sempre cuidamos deles com seriedade.</p>
                    </div>

                </div>

                <div class="row">
                    <!-- Item 1 -->
                    <div class="col-12 col-sm-6 col-md-4 mb-4">
                        <div class="box-icon-1 text-center">
                            <div class="icon">
                                <i class="fas fa-laptop"></i>
                            </div>
                            <div class="body-content">
                                <h3>Direito Digital</h3>
                                <p>O objetivo é proporcionar as normatizações e regulamentações do uso dos ambientes digitais pelas pessoas, além de oferecer proteção de informações contidas nesses espaços e em aparelhos eletrônicos.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 2 -->
                    <div class="col-12 col-sm-6 col-md-4 mb-4">
                        <div class="box-icon-1 text-center">
                            <div class="icon">
                                <i class="fas fa-suitcase"></i>
                            </div>
                            <div class="body-content">
                                <h3>Direito Empresarial</h3>
                                <p>O objetivo é cuidar o exercício da atividade econômica organizada de fornecimento de bens ou serviços, a chamada empresa. Seu objeto de estudo é resolver os conflitos de interesses envolvendo empresários ou relacionados às empresas.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 3 -->
                    <div class="col-12 col-sm-6 col-md-4 mb-4">
                        <div class="box-icon-1 text-center">
                            <div class="icon">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="body-content">
                                <h3>Direito do Consumidor</h3>
                                <p>O Direito do Consumidor é as relações jurídicas entre fornecedores de bens e serviços e seus consumidores</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 4 -->
                    <div class="col-12 col-sm-6 col-md-4 mb-4">
                        <div class="box-icon-1 text-center">
                            <div class="icon">
                                <i class="fa fa-exclamation-triangle"></i>
                            </div>
                            <div class="body-content">
                                <h3>Direito Trabalhista</h3>
                                <p>O direito do trabalho é um ramo do direito privado que é responsável por regular a relação jurídica entre trabalhadores e empregadores, baseado nos princípios e leis trabalhistas. O direito do trabalho é um dos ramos do direito privado mais importantes para a sociedade.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 5 -->
                    <div class="col-12 col-sm-6 col-md-4 mb-4">
                        <div class="box-icon-1 text-center">
                            <div class="icon">
                                <i class="fas fa-people-arrows"></i>
                            </div>
                            <div class="body-content">
                                <h3>Direito Previdenciário</h3>
                                <p>O direito previdenciário é um ramo do direito público surgido da conquista dos direitos sociais no fim do século 19 e início do século 20. Seu objetivo é o estudo e a regulamentação do instituto seguridade social. </p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 6 -->
                    <div class="col-12 col-sm-6 col-md-4 mb-4">
                        <div class="box-icon-1 text-center">
                            <div class="icon">
                                <i class="fas fa-file-contract"></i>
                            </div>
                            <div class="body-content">
                                <h3>Direito Contratual</h3>
                                <p>O Direito Contratual é o ramo do Direito que trata das relações que surgem em todos os tipos de contratos, inclusive aqueles que estão presentes no exercício da sua empresa. Mas, afinal, o que seria um contrato? O contrato é o instrumento jurídico utilizado nas relações econômicas, fundado no acordo das partes.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 7 -->
                    <div class="col-12 col-sm-6 col-md-4 mb-4">
                        <div class="box-icon-1 text-center">
                            <div class="icon">
                                <i class="fas fa-university"></i>
                            </div>
                            <div class="body-content">
                                <h3>Direito Penal</h3>
                                <p>O direito penal ou direito criminal é a disciplina de direito público que regula o exercício do poder punitivo do Estado, tendo por pressuposto de ação delitos e como consequência as penas.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 8 -->
                    <div class="col-12 col-sm-6 col-md-4 mb-4">
                        <div class="box-icon-1 text-center">
                            <div class="icon">
                                <i class="fas fa-file-invoice-dollar"></i>
                            </div>
                            <div class="body-content">
                                <h3>Direito tributário</h3>
                                <p>Direito Tributário é a área do direito responsável por determinar e fiscalizar a arrecadação de tributos, como taxas e impostos. Também chamado de Direito Fiscal, o segmento tem, como principal papel, o combate de possíveis abusos por parte do Fisco e o controle de pagamento dos contribuintes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTACT -->
    <div class="section bgi-cover-center" data-background="images/hammer.png">
        <div class="content-wrap pb-0">
            <div class="container">
                <div class="row align-items-end">

                    <div class="col-12 col-md-7">
                        <h2 class="section-heading">
                            Consulta gratuita
                        </h2>
                        <p class="subheading mb-5">Não hesite em fazer perguntas.</p>

                        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-contact", name = "formContato" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.Nome, new {@class="form-control", placeholder= "Insira o nome completo" })
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.Email, new {@class="form-control", placeholder="Digite o e-email"})
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.Celular, new{@class="form-control", placeholder= "Digite o número de telefone ou celular" })
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.Titulo, new {@class="form-control", placeholder= "Título" })
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.TextAreaFor(x => x.Mensagem, new {@class="form-control", rows="6",placeholder= "Digite sua mensagem"})
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        }
                        <div class="spacer-content"></div>

                    </div>

                    <div class="col-12 col-md-5">
                        <img src="~/Content/images/FotoBibliografia.png" alt="" class="img-fluid img-fluid-consulta-gratuita">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- CTA -->
    <div class="section bg-primary">
        <div class="content-wrap py-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="text-center text-white">
                            <h3>Consultor Jurídico : (17) 996170582</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    







<style>
    .img-fluid-consulta-gratuita {
        height: 570px !important;
    }

    .img-fluid-promessa {
        height: 531px !important;
    }
</style>