@model Advocacia.Models.Mapping.Pessoas
<!DOCTYPE html>
<html lang="pt-br">

<!-- Mirrored from html.rometheme.pro/lawe/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Apr 2022 01:52:16 GMT -->
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Advocacia - Home</title>
    <meta name="description" content="Lawe is responsive multi-purpose HTML5 template compatible with Bootstrap 4. Take your Startup business website to the next level. It is designed for lawyer, Attorney, businesses or any type of person or business who wants to showcase their work, services and professional way.">
    <meta name="keywords" content="advocate, attorney, business, consult, consultant, consulting, corporate, government, justice, law, lawyer, lawyers, legal, political">
    <meta name="author" content="rometheme.net">

    <!-- ==============================================
    Favicons
    =============================================== -->
    <link rel="shortcut icon" href="~/Content/images/LogoIcon.png">
    <link rel="apple-touch-icon" href="~/Content/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/images/apple-touch-icon-114x114.png">

    <!-- ==============================================
    CSS VENDOR
    =============================================== -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendor/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendor/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendor/animate.min.css">

    <!-- ==============================================
    Custom Stylesheet
    =============================================== -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css" />

    <script src="~/Scripts/vendor/modernizr.min.js"></script>
    <script src="https://kit.fontawesome.com/e023f9da74.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- LOAD PAGE -->
    <div class="animationload">
        <div class="loader"></div>
    </div>

    <!-- BACK TO TOP SECTION -->
    <a href="#0" class="cd-top cd-is-visible cd-fade-out">Top</a>

    <!-- HEADER -->
    <div class="header header-1">

        <!-- TOPBAR -->
        <div class="topbar d-none d-md-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-8 col-md-6">
                        <div class="info">
                            <div class="info-item">
                                <i class="fa fa-phone"></i>(17) 996170582
                            </div>
                            <div class="info-item">
                                <i class="fa fa-envelope-o"></i> <a href="mailto:L.A_juridico@outlook.com.br" title="">L.A_juridico@outlook.com.br</a>
                            </div>
                            <div class="info-item">
                                <i class="fas fa-lock"></i> <a href="/Home/Login" title=""> Área restrita</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-6">
                        <div class="sosmed-icon pull-right d-inline-flex">
                            <a href="https://api.whatsapp.com/send/?phone=5517996170582&text=Eu+preciso+de+ajuda,+pode+me+ajudar?&app_absent=0"><i class="fa fa-whatsapp"></i></a>
                            <a href="https://www.facebook.com/leonardoamaraladv"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/leonardoamaraladv/"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/leonardoamaraladv/"><i class="fa fa-linkedin"></i></a>
                            <div class="info-item">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- NAVBAR SECTION -->
        <div class="navbar-main">
            <div class="container">
                <nav id="navbar-example" class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="/Home/Index">
                        <img src="~/Content/images/LogoSiteHeader.png" alt="Advocacia | Home" title="Advocacia | Home">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/Home/Index">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Contact">CONTATO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/PracticeArea">ÁREA DE PRÁTICA</a>
                            </li>
                        </ul>
                    </div>
                </nav> <!-- -->

            </div>
        </div>

    </div>

    <!-- BANNER -->
    <div id="oc-fullslider" class="banner">
        <div class="owl-carousel owl-theme full-screen">
            <div class="item">
                <img src="~/Content/home01.png" alt="Slider">
                <div class="overlay-bg"></div>
                <div class="container d-flex align-items-center">
                    <div class="wrap-caption">
                        <h1 class="caption-heading">Leonardo Amaral<br>Advocacia</h1>
                        <p>Aqui contamos com Advogados Especializados para que cada caso seja cuidado de maneira singular e dedicada. Seu problema virando solução!</p>
                        <a href="/Home/Contact" class="btn btn-primary">SAIBA MAIS</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/segFoto.png" alt="Slider">
                <div class="overlay-bg"></div>
                <div class="container d-flex align-items-center">
                    <div class="wrap-caption">
                        <h1 class="caption-heading">Atuamos em Direito Digital<br>e Direito Empresarial</h1>
                        <p>Nosso objetivo é minimizar o seu desgaste físico e emocional atuando com a desburocratização dos processos.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-nav owl-nav"></div>
    </div>
    <!-- CTA -->
    <div class="section">
        <div class="content-wrap py-0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="cta-overlap clearfix">
                            <div class="body-text mb-3">
                                <h3 class="my-1 text-white">O advogado que você quer ao seu lado</h3>
                                <p class="uk18 mb-0 text-primary">Cada caso é muito importante para nós e sempre cuidamos deles com seriedade.</p>
                            </div>
                            <div class="body-action">
                                <a href="https://api.whatsapp.com/send/?phone=5517996170582&text=Eu+preciso+de+ajuda,+pode+me+ajudar?&app_absent=0" class="btn btn-primary">CONSULTA GRATUITA</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- OUR PROMISE? -->
    <div class="section">
        <div class="content-wrap pb-0">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <img src="~/Content/images/LeoConsultaGratuita.png" alt="" class="img-fluid img-border img-fluid-promessa ">
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <h2 class="section-heading mt-3">
                            Nossa promessa?
                        </h2>
                        <p class="subheading mb-4">"sempre cuidamos dos clientes com seriedade"</p>

                        <p>Sempre buscando uma maneira de atingir novos horizontes e objetivos, mas nunca deixando a lealdade, a transparência e dignidade de lado, dessa forma tratamos nossos clientes e colaboradores, buscando a melhor solução para os desafios que nós forem impostos.</p>
                        <blockquote class="quote">
                            <p class="uk18">Todos os dias a vida nos presenteia com inúmeras possibilidades. Busque sempre o caminho do amor, da paz, da alegria e do trabalho honesto, que você encontrará sucesso e gratidão.</p>
                            <footer class="blockquote-footer">Leonardo Amaral<cite title="Source Title"></cite></footer>
                        </blockquote>
                        <div class="spacer-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FUN FACT -->
    <div class="section bgi-cover-center" data-background="images/static.jpg">
        <div class="content-wrap">
            <div class="container">

                <div class="row">

                    <!-- Item 1 -->
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="rs-icon-funfact">
                            <div class="icon">
                                <i class="fa fa-balance-scale"></i>
                            </div>
                            <div class="body-content">
                                <h2 style="color:#223555;">50</h2>
                                <p class="uk18">Casos em processos</p>
                            </div>
                        </div>
                    </div>

                    <!-- Item 2 -->
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="rs-icon-funfact">
                            <div class="icon">
                                <i class="fa fa-gavel"></i>
                            </div>
                            <div class="body-content">
                                <h2 style="color:#223555;">312</h2>
                                <p class="uk18">Casos encerrados</p>
                            </div>
                        </div>
                    </div>

                    <!-- Item 3 -->
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="rs-icon-funfact">
                            <div class="icon">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="body-content">
                                <h2 style="color:#223555;">1256</h2>
                                <p class="uk18">Clientes confiáveis</p>
                            </div>
                        </div>
                    </div>

                    <!-- Item 4 -->
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="rs-icon-funfact">
                            <div class="icon">
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="body-content">
                                <h2 style="color:#223555;">1</h2>
                                <p class="uk18">Equipe de especialistas</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- WHY CHOOSE -->
    <div class="section">
        <div class="content-wrap">
            <div class="container">

                <div class="row">

                    <div class="col-sm-12 col-md-12">
                        <h2 class="section-heading text-center mb-4">
                            Áreas de Prática Jurídica
                        </h2>
                        <p class="subheading text-center mb-5">Cada caso é muito importante para nós e sempre cuidamos deles com seriedade.</p>
                    </div>

                </div>

                <div class="row">
                    <!-- Item 1 -->
                    <div class="col-12 col-sm-6 col-md-4 mb-4">
                        <div class="box-icon-1 text-center">
                            <div class="icon">
                                <i class="fas fa-laptop"></i>
                            </div>
                            <div class="body-content">
                                <h3>Direito Digital</h3>
                                <p>O objetivo é proporcionar as normatizações e regulamentações do uso dos ambientes digitais pelas pessoas, além de oferecer proteção de informações contidas nesses espaços e em aparelhos eletrônicos.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 2 -->
                    <div class="col-12 col-sm-6 col-md-4 mb-4">
                        <div class="box-icon-1 text-center">
                            <div class="icon">
                                <i class="fas fa-suitcase"></i>
                            </div>
                            <div class="body-content">
                                <h3>Direito Empresarial</h3>
                                <p>O objetivo é cuidar o exercício da atividade econômica organizada de fornecimento de bens ou serviços, a chamada empresa. Seu objeto de estudo é resolver os conflitos de interesses envolvendo empresários ou relacionados às empresas.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 3 -->
                    <div class="col-12 col-sm-6 col-md-4 mb-4">
                        <div class="box-icon-1 text-center">
                            <div class="icon">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="body-content">
                                <h3>Direito do Consumidor</h3>
                                <p>O Direito do Consumidor é as relações jurídicas entre fornecedores de bens e serviços e seus consumidores</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 4 -->
                    <div class="col-12 col-sm-6 col-md-4 mb-4">
                        <div class="box-icon-1 text-center">
                            <div class="icon">
                                <i class="fa fa-exclamation-triangle"></i>
                            </div>
                            <div class="body-content">
                                <h3>Direito Trabalhista</h3>
                                <p>O direito do trabalho é um ramo do direito privado que é responsável por regular a relação jurídica entre trabalhadores e empregadores, baseado nos princípios e leis trabalhistas. O direito do trabalho é um dos ramos do direito privado mais importantes para a sociedade.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 5 -->
                    <div class="col-12 col-sm-6 col-md-4 mb-4">
                        <div class="box-icon-1 text-center">
                            <div class="icon">
                                <i class="fas fa-people-arrows"></i>
                            </div>
                            <div class="body-content">
                                <h3>Direito Previdenciário</h3>
                                <p>O direito previdenciário é um ramo do direito público surgido da conquista dos direitos sociais no fim do século 19 e início do século 20. Seu objetivo é o estudo e a regulamentação do instituto seguridade social. </p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 6 -->
                    <div class="col-12 col-sm-6 col-md-4 mb-4">
                        <div class="box-icon-1 text-center">
                            <div class="icon">
                                <i class="fas fa-file-contract"></i>
                            </div>
                            <div class="body-content">
                                <h3>Direito Contratual</h3>
                                <p>O Direito Contratual é o ramo do Direito que trata das relações que surgem em todos os tipos de contratos, inclusive aqueles que estão presentes no exercício da sua empresa. Mas, afinal, o que seria um contrato? O contrato é o instrumento jurídico utilizado nas relações econômicas, fundado no acordo das partes.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 7 -->
                    <div class="col-12 col-sm-6 col-md-4 mb-4">
                        <div class="box-icon-1 text-center">
                            <div class="icon">
                                <i class="fas fa-university"></i>
                            </div>
                            <div class="body-content">
                                <h3>Direito Penal</h3>
                                <p>O direito penal ou direito criminal é a disciplina de direito público que regula o exercício do poder punitivo do Estado, tendo por pressuposto de ação delitos e como consequência as penas.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 8 -->
                    <div class="col-12 col-sm-6 col-md-4 mb-4">
                        <div class="box-icon-1 text-center">
                            <div class="icon">
                                <i class="fas fa-file-invoice-dollar"></i>
                            </div>
                            <div class="body-content">
                                <h3>Direito tributário</h3>
                                <p>Direito Tributário é a área do direito responsável por determinar e fiscalizar a arrecadação de tributos, como taxas e impostos. Também chamado de Direito Fiscal, o segmento tem, como principal papel, o combate de possíveis abusos por parte do Fisco e o controle de pagamento dos contribuintes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTACT -->
    <div class="section bgi-cover-center" data-background="images/hammer.png">
        <div class="content-wrap pb-0">
            <div class="container">
                <div class="row align-items-end">

                    <div class="col-12 col-md-7">
                        <h2 class="section-heading">
                            Consulta gratuita
                        </h2>
                        <p class="subheading mb-5">Não hesite em fazer perguntas.</p>

                        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-contact", name = "formContato" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.Nome, new {@class="form-control", placeholder= "Insira o nome completo" })
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.Email, new {@class="form-control", placeholder="Digite o e-email"})
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.Celular, new{@class="form-control", placeholder= "Digite o número de telefone ou celular" })
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.Titulo, new {@class="form-control", placeholder= "Título" })
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.TextAreaFor(x => x.Mensagem, new {@class="form-control", rows="6",placeholder= "Digite sua mensagem"})
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        }
                        <div class="spacer-content"></div>

                    </div>

                    <div class="col-12 col-md-5">
                        <img src="~/Content/images/FotoBibliografia.png" alt="" class="img-fluid img-fluid-consulta-gratuita">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- CTA -->
    <div class="section bg-primary">
        <div class="content-wrap py-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="text-center text-white">
                            <h3>Consultor Jurídico : (17) 996170582</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER SECTION -->
    <div class="footer" data-background="images/footer2.jpg">
        <div class="content-wrap">
            <div class="container">

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="footer-item">
                            <img src="~/Content/images/LogoSiteFooter.png" alt="logo bottom" class="logo-bottom">
                            <div class="spacer-30"></div>
                            <p>Sempre buscando uma maneira de atingir novos horizontes e objetivos, mas nunca deixando a lealdade, a transparência e dignidade de lado, dessa forma tratamos nossos clientes e colaboradores, buscando a melhor solução para os desafios que nós forem impostos.</p>
                            <div class="sosmed-icon icon-bg-primary d-inline-flex">
                                <a href="https://api.whatsapp.com/send/?phone=5517996170582&text=Eu+preciso+de+ajuda,+pode+me+ajudar?&app_absent=0"><i class="fa fa-whatsapp"></i></a>
                                <a href="https://www.facebook.com/leonardoamaraladv"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/leonardoamaraladv/"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/leonardoamaraladv/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-title">
                                Informações de contato
                            </div>
                            <ul class="list-info">
                                <li>
                                    <div class="info-icon">
                                        <span class="fa fa-map-marker"></span>
                                    </div>
                                    <div class="info-text">Rua Guarani 909 Jardim Buissa l. Macaubal - SP</div>
                                </li>
                                <li>
                                    <div class="info-icon">
                                        <span class="fa fa-phone"></span>
                                    </div>
                                    <div class="info-text">(17) 996170582</div>
                                </li>
                                <li>
                                    <div class="info-icon">
                                        <span class="fa fa-envelope"></span>
                                    </div>
                                    <div class="info-text">L.A_juridico@outlook.com.br</div>
                                </li>
                                <li>
                                    <div class="info-icon">
                                        <span class="fa fa-clock-o"></span>
                                    </div>
                                    <div class="info-text">Seg - Sex 08:00 - 17:00</div>
                                </li>
                            </ul>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-title">
                                Áreas de atuação
                            </div>
                            <ul class="list">
                                <li><a href="/Home/PracticeArea" title="Direito Digital">Direito Digital</a></li>
                                <li><a href="/Home/PracticeArea" title="Direito Empresarial">Direito Empresarial</a></li>
                                <li><a href="/Home/PracticeArea" title="Direito do Consumidor">Direito do Consumidor</a></li>
                                <li><a href="/Home/PracticeArea" title="Direito Trabalhista">Direito Trabalhista</a></li>
                                <li><a href="/Home/PracticeArea" title="Direito Contratual">Direito Contratual</a></li>
                                <li><a href="/Home/PracticeArea" title="Direito Penal">Direito Penal</a></li>
                                <li><a href="/Home/PracticeArea" title="Direito Tributário">Direito Tributário</a></li>
                            </ul>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-title">
                                Link útil
                            </div>

                            <ul class="list">
                                <li><a href="/Home/Contact" title="Contato">Contato</a></li>
                                <li><a href="/Home/PracticeArea" title="Área de Prática">Área de Prática</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fcopy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <p class="ftex">Copyright @DateTime.Now.Year &copy; - <span class="color-primary"></span><a href="https://www.linkedin.com/in/carlos-henrique-2021/">Carlos Henrique Lima Cicoti</a><span class="color-primary"> - Todos os direitos reservados</span></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- JS VENDOR -->
    <script src="~/Scripts/vendor/jquery.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap.min.js"></script>
    <script src="~/Scripts/vendor/owl.carousel.js"></script>
    <script src="~/Scripts/vendor/jquery.magnific-popup.min.js"></script>

    <!-- SENDMAIL -->
    <script src="~/Scripts/vendor/validator.min.js"></script>
    <script src="~/Scripts/vendor/form-scripts.js"></script>

    <script src="~/Scripts/script.js"></script>
</body>

<!-- Mirrored from html.rometheme.pro/lawe/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Apr 2022 01:52:16 GMT -->
</html>
<script>


</script>


<style>
    .img-fluid-consulta-gratuita {
        height: 570px !important;
    }

    .img-fluid-promessa {
        height: 531px !important;
    }
</style>